.index-banner{
    height: calc(100vh - 80px);
    background-image: url(../images/home-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include phone{
        height: calc(100vh - 180px);
        background-image: url(../images/home-header-sm.png);
    }

    &-content{
        padding-top: calc((100vh - 80px - 145px) / 2) ;

        @include phone{
            padding-top: calc((100vh - 180px - 108px) / 2);
        }
    }

    a{
        padding: $space * 0.75 $space * 1.5;
        background-color: $primary;
        display: inline-block;

        &:hover{
            background-color: $white;
            color: $primary;
            opacity: 1;
        }
    }
}
.index-section-padding{
    padding: $space * 10 0;

    @include phone{
		padding: $space * 5 0;
	}
}
.index-section-title{
    font-size: $base-font-size * 3;

    @include phone{
        font-size: $base-font-size * 1.5;
    }
}
.index-service-pic{
    height: 100px;
}
.index-co-branding{
    background-image: url(../images/index-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include pad{
        background-image: url(../images/index-bg-md.png);
    }

    @include phone{
        background-image: url(../images/index-bg-sm.png);
    }

    &-pic1{
        background-image: url(../images/home-section4-1.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 240px;

        @include phone{
            background-image: url(../images/home-section4-1-sm.png);
        }
    }

    &-pic2{
        background-image: url(../images/home-section4-2.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 240px;

        @include phone{
            background-image: url(../images/home-section4-2-sm.png);
        }
    }

    a:hover{
        opacity: 0.8;

        h3{
            color: $white;
            background-color: $primary;
        }
    }
}
.index-card{
    box-shadow: 0px 2px 6px #00000029;
    border: 1px solid #DEE2E6;
    border-radius: 4px;

    &-content{
        padding: $space * 2;
        height: 205px;
    }

    span{
        color: #707070;
    }
    
}
.index-contactus{

    input , textarea{
        border: 1px solid $dark;
        background-color: transparent;
        font-size: $base-font-size;
    }

    input[type='checkbox']{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none; // 取消預設外觀
        width: 1.125rem;
        height: 1.125rem;
        padding: 0;
        vertical-align: top;
        background-color: transparent;
        border: 2px solid $dark;

        &:checked {
            border:2px solid $primary;
            background-color: $primary;
        }

        &:checked::after {
            content: " ✓";
            font-size: $base-font-size;
            font-weight: $font-weight-black;
            color: $white;
            line-height: 14px;
            position: absolute;
        }
    }

    a{
        display: inline;
    }
      

    button{
        padding: $space * 2 0;
        margin: 0 auto;
    }
}