.product-nav{
    @include pad{
        padding-right: 0;
        padding-left: 0;
    }

    &-item{
        border-right: 1px solid #DCDCDC;

        &:first-child{
            border-left: 1px solid #DCDCDC;
        }

        &-link{
            padding-top: $space * 3;
            padding-bottom: $space * 2;

            @include pad{
                padding-top: $space * 2;
                padding-bottom: $space;
            }
        }
    }

    &-now{
        border-bottom: 8px solid $primary;
    }

    &-hover{
        &:hover{
            border-bottom: 8px solid $primary;
            opacity: 1;
            transition: none;
        }
    }
}
.product-banner-optical{
    height: 296px;
    @include phone{
        height: 136px;
    }

    &-pic1{
        background-image: url(../images/product-header-1.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @include phone{
            background-image: url(../images/product-header-sm-1.png);
        }
    }
    &-pic2{
        background-image: url(../images/product-header-2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @include phone{
            background-image: url(../images/product-header-sm-2.png);
        }
    }
}
.product-list-gap{
    gap: $space * 10 $space * 3;

    @include pad{
        gap: $space * 5 $space * 3;
    }
}    
.product-color{
    width: 24px;
    height: 24px;
    border-radius: 4px;

    &-dark{
        background-color: $product-dark;
    }
    &-light{
        background-color: $product-light;
    }
}
