/* -----color----- */ 
.primary-color{
	color: $primary;
}
.primary-dark-color{
	color: $primary-dark;
}
.dark-color{
	color: $dark;
}
.white-color{
	color: $white;
}
.bg-primary-light-color{
	background-color: $primary-light;
}
.bg-primary{
	background-color: $primary;
}
.bg-primary-dark{
	background-color: $primary-dark;
}
.bg-dark{
	background-color: $dark;
}
.bg-white{
	background-color: $white;
}