/* -----flex box----- */ 
.d-flex{
	display: flex;
}
.justify-content-between{
	justify-content: space-between;
}
.justify-content-center{
	justify-content: center;
}
.align-items-start{
	align-items: flex-start;
}
.align-items-end{
	align-items: flex-end;
}
.align-items-center{
	align-items: center;
}
.align-items-baseline{
	align-items: baseline;
}
.flex-wrap{
	flex-wrap: wrap;
}
.flex-column{
	flex-direction: column;
}
.flex-row-reverse{
	flex-direction: row-reverse;
}

@include pad{
	.d-md-flex{
		display: flex;
	}
	.justify-content-md-between{
		justify-content: space-between;
	}
	.justify-content-md-center{
		justify-content: center;
	}
	.align-items-md-start{
		align-items: flex-start;
	}
	.align-items-end{
		align-items: flex-end;
	}
	.align-items-md-center{
		align-items: center;
	}
	.align-items-md-baseline{
		align-items: baseline;
	}
	.flex-md-wrap{
		flex-wrap: wrap;
	}
	.flex-md-column{
		flex-direction: column;
	}
	.flex-md-row-reverse{
		flex-direction: row-reverse;
	}
}

@include phone{
	.d-sm-flex{
		display: flex;
	}
	.justify-content-sm-between{
		justify-content: space-between;
	}
	.align-items-sm-start{
		align-items: flex-start;
	}
	.align-items-end{
		align-items: flex-end;
	}
	.justify-content-sm-center{
		justify-content: center;
	}
	.align-items-sm-center{
		align-items: center;
	}
	.align-items-sm-baseline{
		align-items: baseline;
	}
	.flex-sm-wrap{
		flex-wrap: wrap;
	}
	.flex-sm-column{
		flex-direction: column;
	}
	.flex-sm-row-reverse{
		flex-direction: row-reverse;
	}
}

