// font
$tc-font-family: 'Noto Sans TC';
$en-font-family: 'Roboto';

$base-font-size: 16px;

$font-weight-regular: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

$font-italic: italic;

// spacing
$space: 8px;

// color
$primary: #AA0601;
$primary-dark: #650300; 
$primary-light: #FBF2F2;
$dark: #000000;
$white: #FFFFFF;

$product-dark: #5F3E2D;
$product-light: #B75929;

